

body {
  font-family: "Lato", Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

/*! Header */

.header {
  background-color: #2d303a;
  height: 89px;
  align-items: center;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 32px;
}

.singolo{
  margin: 0;
  padding: 0;
  color: #ffffff; 
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  display: inline-block;
  cursor: pointer; 
}

li a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.active {
  color: #f06c64;
}

li + li:before {
  content: "⋅";
  color: #494e62;
  padding: 0 10px 0 10px;
  font-size: large;
}

.header__bottom {
  width: 1020px;
  height: 5px;
  background-color: #323746; 
}

/*! Slider */

.slider {
  background-color: #f06c64;
    padding: 0 40px;
    height: 595px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iPone-Vertical {
  display: inline-block;
  background: url("assets/phone-vertical.jpg");
  width: 240px;
  height: 483px;
  margin-right: 14px;
  margin-bottom: 7px;
}

.iPhone-Horizontal{
  display: inline-block;
  background: url("assets/phone-horizontal.jpg");
  width: 483px;
  height: 240px;
  margin-bottom: 7px;
  
}


.chev_left {
  background-image: url("assets/chev-left.jpg");
  display: inline-block;
  width: 16px;
  height: 27px;
}

.chev_right {
  background-image: url("assets/chev-right.jpg");
  display: inline-block;
  height: 27px;
  width: 16px;
}

.slider__bottom {
  background-color: #ea676b;
  height: 6px;
  width: 1020px;
}

/*! Services */

.services {
  height: 495px;
  width: 1020px;
  background-color: #f2f2f2;
}

.our-services{
  margin: 0;
  padding-top: 68px;
  padding-bottom: 27px;
  font-weight: 900;
  color: #666d89;
  font-size: 29.6188px;
  line-height: 18px;
}

p {
  margin: 0;
  color: #767e9e;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 47px;
}

.services__title {
  margin-bottom: 12px;
}

h3 {
  
  color: #666d89;
  font-weight: 900;
  font-size: 18px;
  line-height: 16px;
  text-align: left;
  margin: 0;
}

.services__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 31px;
}

.services__text {
  width: 220px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
  overflow: hidden;
  /* -webkit-hyphens: auto;
  -ms-hyphens: auto; */
  hyphens: auto;
}

.services__item {
  display: inline-block;
  position: relative;
}

.services__image {
  position: absolute;
}

.services__column {
  padding-left: 79px;
}



.services__bottom{
width: 1020px;
height: 6px;
background-color: #ffffff;
}
